RESEND_API_KEY=

IMGBB_API_KEY_1=
IMGBB_API_KEY_2=
IMGBB_API_KEY_3=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
GEMINI_API_KEY=
# Masukkan API Key OpenRouter, pisahkan dengan koma jika lebih dari satu
# Contoh: key1,key2,key3
OPENROUTER_API_KEYS=

# URL App untuk tautan OTP (misalnya http://localhost:3000 untuk lokal atau URL produksi Anda)
NEXT_PUBLIC_APP_URL=
