@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: var(--font-sans), sans-serif;
  --font-outfit: var(--font-outfit), sans-serif;
  --font-plus: var(--font-plus), sans-serif;
}
